body{
  background: white;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#top {
  text-align: center;
  padding: 5px;
  margin-top: 50px;
  margin-bottom: 0;
}
.form{
  text-align: center;
}

#points{
	padding: 20px;
	border: 2px solid black;
	box-shadow: 5px 5px 10px;
  width: 70%;
  margin: auto 15%;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 50px;
}
h2{
	text-align: center;
}
#h21{
	background-color: lightyellow;
}
#h22{
	background-color: lightgreen;
}
#h23{
	background-color: red;
}
#submitButton {
	margin-top: 10px;
  padding: 12px;
  width: 200px;
  font-weight: bold;
  cursor: pointer;
}
